<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Game Not Found</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://perlman.mathcs.carleton.edu:5131/">
                    <span class="glyphicon glyphicon-king"></span> 
                    BOARD GAMES
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="http://perlman.mathcs.carleton.edu:5131/">Home</a>
                    </li>
                    <li>
                        <a href="http://perlman.mathcs.carleton.edu:5131/newgames/">New Games</a>
                    </li>
                    <li>
                        <a href="http://perlman.mathcs.carleton.edu:5131/a_z/">List A-Z</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <!-- Navigation -->

    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <br><br><br>
                <form action="http://perlman.mathcs.carleton.edu:5131/search/" method="POST" style="color:#000000">
                    <select id="minPlayers" name="minPlayers", type="number">
                        <option value=-1>Min Players</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>>5</option>
                    </select>
                    <input type="text" id="genre" name="genre" placeholder="Search a genre...">
                    <input type="text" id="search" name="search" placeholder="Search by name...">
                    <input type="submit" value="Search">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </form>
            </div>
        </div>
    </header>
        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Game not found! <br>
                    <small>Sorry, we could not find your requested game. Check your spelling or make the search broader.</small>
                </h1>
                
            </div>
        </div>
    
    <footer>
        
        <div class="small-print">
            <div class="container">
                <hr>
                <p>This data set is included within the R package bggAnalysis. Permissions to use is granted, free of charge, to any person obtaining a copy of this software and associated documentation file. All images present on this page are from cf.geekdo-images.com.</p>
            </div>
        </div>
    </footer>  
</body>
</html>